{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block content %}


<link href="{% static '/css/UsedCarDetails.css' %}" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="row" style="height:92px;background-color:black">

</div>

<!-- Card Start -->
<div class="container" style="margin-top:100px">
  	<div class="card w-100" >
   		<div class="row">
	      	<div class="col-sm-7">
	        	<div class="card-block">
	          		<h4 class="card-title">{{veh.name}}<span class="badge badge-pill badge-warning float-right">£ {{veh.price|intcomma}}</span></h4>
	          		<p class="card-text">{{veh.long_description}}</p>
	          		<h4 class="card-title">This car comes with</h4>
	          		<p class="card-text">
	            	{{veh.short_description}}
	          		</p>
	          		<br/>
	          		<br/>
	          		<h4 class="text-center">Key Facts</h4>
	          		<div class="row text-center">
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/schedule.png'%}"/>
	          				<h6>Model Year</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.model_year}}</h6>
	          			</div>
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/fuel.png'%}"/>
	          				<h6 >Fuel Type</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.fuel_type}}</h6>
	          			</div>
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/racing.png'%}"/>
	          				<h6>Mileage</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.mileage}}</h6>
	          			</div>
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/car-engine.png'%}"/>
	          				<h6>Engine Size</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.engine_size}}</h6>
	          			</div>
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/automatic-transmission.png'%}"/>
	          				<h6>Transmission</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.transmission}}</h6>
	          			</div>
	          			<div class="col-sm-4">
	          				<img width=32px height=32px src="{% static 'images/usedcarspage/paint-brush.png'%}"/>
	          				<h6>Color</h6>
	          				<h6 class="font-weight-bold" style="color:crimson">{{veh.color}}</h6>
	          			</div>
	          		</div>
	        	</div>	        		        	
	      	</div>
	      <!-- Photo Gallery Start -->
	      	<div class="col-md-5">
		        <div class="row m-2">
		         	<div class="col-sm-12">
		         		<div class="form-group">
		         			<img id="car-img" class="img-fluid popup" src="{{veh.image.url}}" alt="image">
		         		</div>
		         	</div>
		         	{% for i in veh.vehicleimage_set.all|slice:":2" %}
		         	<div class="col-sm-6 mt-2">
		         		<div class="form-group">
		         			<img id="car-img" class="img-fluid popup" src="{{i.image.url}}" alt="image">
		         		</div>
		         	</div>
					{% endfor %}
					<div class="row justify-content-center">
						<div class="col-sm-6">
							<h5><a class="badge badge-pill badge-success" data-bs-toggle="collapse" href="#collapseMoreImg"  aria-expanded="false" aria-controls="collapseExample">Show More Photos</a></h5>
		          		</div>
		          		<div class="collapse" id="collapseMoreImg">
		          			<div class="row text-center">
		          				<p class="text-muted">Click on image to zoom in</p>
			          			{% for i in veh.vehicleimage_set.all|slice:"2:" %}
			          			<div class="col-sm-6 mt-2">
					         		<div class="form-group">
						         		<img id="car-img" class="img-fluid popup" src="{{i.image.url}}" alt="image">
					         		</div>
					         	</div>
					         	{% endfor %}
					        </div>
		          		</div>
					</div>	         	
		        </div>
		         <hr />
	      	</div>
	      	<!-- End of Photo Gallery -->
  		</div>
  		<div class="row">
  			<div class="container my-2">
			    <hr class="m-2"/>

			    <h6 class="font-weight-bold m-4">Technical Specifications</h6>
			        
			        <!--Accordion wrapper-->
			    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

			      <!-- Accordion card -->
			      <div class="card w-100">

			        <!-- Card header -->
			        <div class="card-header" role="tab" id="headingOne1">
			          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
			            aria-controls="collapseOne1">
			            <h5 class="mb-0">
			              Vehicle Summary <i class="fas fa-angle-down rotate-icon float-right"></i>
			            </h5>
			          </a>
			        </div>

			        <!-- Card body -->
			        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
			          data-parent="#accordionEx">
			          <div class="card-body">
			          	<table class="table table-hover">
						  {% for vs in veh.vehiclesummary_set.all %}
						  <tbody>
						    <tr>
						      <th style="font-weight: bold" scope="row">Body Style</th>
						      <td style="font-weight: bold">{{vs.body_style}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Engine Size</th>
						      <td style="font-weight: bold">{{vs.engine_size}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Fuel Type</th>
						      <td style="font-weight: bold">{{vs.fuel_type}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Number of doors</th>
						      <td style="font-weight: bold">{{vs.number_of_doors}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Number of seats</th>
						      <td style="font-weight: bold">{{vs.number_of_seats}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Gearbox Type</th>
						      <td style="font-weight: bold">{{vs.gearbox_type}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">CO2 Emissions</th>
						      <td style="font-weight: bold">{{vs.CO2_emissions}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Insurance Group</th>
						      <td style="font-weight: bold">{{vs.insurance_group}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Standard manufacturer's warranty (miles)</th>
						      <td style="font-weight: bold">{{vs.standard_manufacturer_warranty_miles}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Standard manufacturer's warranty (years)</th>
						      <td style="font-weight: bold">{{vs.standard_manufacturer_warranty_years}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Standard paintwork guarantee</th>
						      <td style="font-weight: bold">{{vs.standard_paintwork_guarantee}}</td>
						    </tr>
						  </tbody>
						  {% endfor %}
						</table>
			          </div>
			        </div>

			      </div>
			      <!-- Accordion card -->

			      <!-- Accordion card -->
			      <div class="card w-100">

			        <!-- Card header -->
			        <div class="card-header" role="tab" id="headingTwo2">
			          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
			            aria-expanded="false" aria-controls="collapseTwo2">
			            <h5 class="mb-0">
			              Vehicle Performance & Economy <i class="fas fa-angle-down rotate-icon float-right"></i>
			            </h5>
			          </a>
			        </div>

			        <!-- Card body -->
			        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
			          data-parent="#accordionEx">
			          <div class="card-body">
			          	<table class="table table-hover">
						  {% for vpe in veh.vehicleperformanceeconomy_set.all %}
						  <tbody>
						    <tr>
						      <th style="font-weight: bold" scope="row">Fuel consumption (urban)</th>
						      <td style="font-weight: bold">{{vpe.fuel_consumption_urban}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Fuel consumption (extra urban)</th>
						      <td style="font-weight: bold">{{vpe.fuel_consumption_extra_urban}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Fuel consumption (combined)</th>
						      <td style="font-weight: bold">{{vpe.fuel_consumption_combined}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">0 - 60 mph</th>
						      <td style="font-weight: bold">{{vpe.zero_to_sixty_mph}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Top speed</th>
						      <td style="font-weight: bold">{{vpe.top_speed}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Cylinders</th>
						      <td style="font-weight: bold">{{vpe.cylinders}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Valves</th>
						      <td style="font-weight: bold">{{vpe.valves}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Engine Power</th>
						      <td style="font-weight: bold">{{vpe.engine_power}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Engine Torque</th>
						      <td style="font-weight: bold">{{vpe.engine_torque}}</td>
						    </tr>
						  </tbody>
						  {% endfor %}
						</table> 
			          </div>
			        </div>

			      </div>
			      <!-- Accordion card -->

			      <!-- Accordion card -->
			      <div class="card w-100">

			        <!-- Card header -->
			        <div class="card-header" role="tab" id="headingThree3">
			          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
			            aria-expanded="false" aria-controls="collapseThree3">
			            <h5 class="mb-0">
			              Interior & Exterior <i class="fas fa-angle-down rotate-icon float-right"></i>
			            </h5>
			          </a>
			        </div>

			        <!-- Card body -->
			        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
			          data-parent="#accordionEx">
			          <div class="card-body">
			          	<div class="row">
			          		<div class="col">
			          			<ul class="list-group"><b class="text-center">Interior Features</b>
			          				{% for vi in veh.vehicleinterior_set.all %}
								    <li class="list-group-item list-group-item-secondary">{{vi.interior}}</li>
								    {% endfor %}
			          			</ul>
			          		</div>
			          		<div class="col">
			          			<ul class="list-group"><b class="text-center">Exterior Features</b>
			          				{% for ve in veh.vehicleexterior_set.all %}
								    <li class="list-group-item list-group-item-info">{{ve.exterior}}</li>
								    {% endfor %}
			          			</ul>
			          		</div>
			          	</div>
			          	
			          </div>
			        </div>

			      </div>
			      <!-- Accordion card -->

			       <!-- Accordion card -->
			      <div class="card w-100">

			        <!-- Card header -->
			        <div class="card-header" role="tab" id="headingFour4">
			          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
			            aria-expanded="false" aria-controls="collapseFour4">
			            <h5 class="mb-0">
			              Dimensions <i class="fas fa-angle-down rotate-icon float-right"></i>
			            </h5>
			          </a>
			        </div>

			        <!-- Card body -->
			        <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
			          data-parent="#accordionEx">
			          <div class="card-body">
			          	<table class="table table-hover">
						  {% for vd in veh.vehicledimension_set.all %}
						  <tbody>
						    <tr>
						      <th style="font-weight: bold" scope="row">Height</th>
						      <td style="font-weight: bold">{{vd.height}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Height inclusive of roof rails</th>
						      <td style="font-weight: bold">{{vd.height_inclusive_of_roof_rails}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Length)</th>
						      <td style="font-weight: bold">{{vd.length}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Wheel base</th>
						      <td style="font-weight: bold">{{vd.wheelbase}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Width</th>
						      <td style="font-weight: bold">{{vd.width}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Width including mirrors</th>
						      <td style="font-weight: bold">{{vd.width_icluding_mirrors}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Fuel tank capacity</th>
						      <td style="font-weight: bold">{{vd.fuel_tank_capacity}}</td>
						    </tr>
						    <tr>
						      <th style="font-weight: bold" scope="row">Minimum kerb weight</th>
						      <td style="font-weight: bold">{{vd.minimum_kerb_weight}}</td>
						    </tr>
						  </tbody>
						  {% endfor %}
						</table>
			            
			          </div>
			        </div>

			      </div>
			      <!-- Accordion card -->
			       <!-- Accordion card -->
			      <div class="card w-100">

			        <!-- Card header -->
			        <div class="card-header" role="tab" id="headingFive5">
			          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
			            aria-expanded="false" aria-controls="collapseFive5">
			            <h5 class="mb-0">
			              Safety <i class="fas fa-angle-down rotate-icon float-right"></i>
			            </h5>
			          </a>
			        </div>

			        <!-- Card body -->
			        <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
			          data-parent="#accordionEx">
			          <div class="card-body">
			          	<ul class="list-group list-group-flush">
			          		{% for vs in veh.vehiclesafety_set.all %}
						  	<li class="list-group-item">{{vs.safety}}</li>
						  	{% endfor %}
						</ul>
			          </div>
			        </div>

			      </div>
			      <!-- Accordion card -->

			    </div>
			    <!-- Accordion wrapper -->
			</div>
  		</div>
  
	</div>
</div>
<div class="card">
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

	<div class="modal fade bd-example-modal-lg" style="margin-top:45px" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<img class="w-100" id="popup-img" src="" alt="image">
	    </div>
	  </div>
	</div>
</div>
<script>
	$(document).ready(function() {

  
		$('[data-bs-toggle="collapse"]').click(function() {
		  $(this).toggleClass( "active" );
		  if ($(this).hasClass("active")) {
		    $(this).text("Show Less Photos");
		  } else {
		    $(this).text("Show More Photos");
		  }
		});
	});

	$('.popup').click(function() {
		var src=$(this).attr('src');
		$('.modal').modal('show');
		$('#popup-img').attr('src',src);
	});
</script>

{% endblock content %}
